@model List<CNPM.Models.HopDongViewModel>


<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<div class="mt-5">
						<h4 class="card-title float-left mt-2">Hợp đồng ký túc xá</h4> <a href="/HopDong/Create" class="btn btn-primary float-right veiwbutton">Thêm hợp đồng</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table">
					<div class="card-body booking_card">
						<div class="table-responsive">
							<table class="datatable table table-stripped table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>STT</th>
										<th>Id hợp đồng</th>
										<th>Mã số phòng</th>
										<th>Tên sinh viên</th>
										<th>Tên nhân viên</th>
										<th>Ngày bắt đầu</th>
										<th>Ngày kết thúc</th>
										<th>Tiền cọc</th>
										<th>Trạng thái</th>
										<th>Thao tác</th>
									</tr>
								</thead>
								<tbody>
									@{
										int stt = 1;
									}
									@foreach (var sv in Model)
									{
										<tr>
											<td>@stt</td>
											<td>@sv.IdHopDong</td>
											<td>@sv.MaSoPhong</td>
											<td>@sv.TenSinhVien</td>
											<td>@sv.MaNhanVien</td>
											<td>@((sv.NgayBatDau != null) ? ((DateTime)sv.NgayBatDau).ToString("dd/MM/yyyy") : "")</td>
											<td>@((sv.NgayKetThuc != null) ? ((DateTime)sv.NgayKetThuc).ToString("dd/MM/yyyy") : "")</td>
											<td>@sv.TienCoc?.ToString("N0")</td>
											<td class="text-right">
												<div class="actions">
													<a class="btn btn-sm bg-success-light mr-2">
														@(sv.TrangThai == true ? "Hoạt động" : "Không hoạt động")
													</a>
												</div>
											</td>

											<td class="text-right">
												<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@sv.IdHopDong">
													<i class="fas fa-pencil-alt m-r-5"></i> Sửa
												</a>
												<a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal-@sv.IdHopDong">
													<i class="fas fa-trash-alt m-r-5"></i> Xóa
												</a>
												
											</td>
										</tr>
										stt++;
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@foreach (var kh in Model)
	{
		<div class="modal fade delete-modal" id="deleteModal-@kh.IdHopDong" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="~/assets/img/sent.png" alt="" width="50" height="46">
						<h3 class="delete_class">Bạn chắc chắn muốn xóa Id hợp đồng "@kh.IdHopDong" không?</h3>
						<div class="m-t-20 d-flex justify-content-between">
							<a href="#" class="btn btn-white me-1" data-dismiss="modal">Close</a> <!-- Sử dụng me-1 -->
							<form asp-action="Delete" asp-route-id="@kh.IdHopDong" class="mb-0">
								<button type="submit" class="btn btn-danger">Xóa</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>