@model IEnumerable<CNPM.Models.TbThongBao>

<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<div class="mt-5">
						<h4 class="card-title float-left mt-2">Danh sách đã thông báo</h4> <a href="/ThongBao/Create" class="btn btn-primary float-right veiwbutton">Thông báo mới</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="card card-table">
					<div class="card-body booking_card">
						<div class="table-responsive">
							<table class="datatable table table-stripped table table-hover table-center mb-0">
								<thead>
									<tr>
										<th>STT</th>
										<th>Mã sinh viên</th>
										<th>Tên sinh viên</th>
										<th>Email sinh viên</th>
										<th>Nội dung thông báo</th>
										<th>Thời gian thông báo</th>
										<th>Hành động</th>
									</tr>
								</thead>
								<tbody>
									@{
										int stt = 1;
									}
									@foreach (var item in Model)
									{
										<tr>
											<td>@stt</td>
											<td>@item.MaSinhVien</td>
											<td>@item.MaSinhVienNavigation?.TenSinhVien</td>
											<td>@item.MaSinhVienNavigation?.Email</td>
											<td>@item.NoiDung</td>
											<td>@item.NgayTao?.ToString("yyyy/MM/dd HH:mm")</td>
											<td class="text-right">
												<a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal-@item.IdThongBao">
													<i class="fas fa-trash-alt m-r-5"></i> Xóa
												</a>
											</td>
										</tr>
										stt++;
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@foreach (var kh in Model)
	{
		<div class="modal fade delete-modal" id="deleteModal-@kh.IdThongBao" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body text-center">
						<img src="~/assets/img/sent.png" alt="" width="50" height="46">
						<h3 class="delete_class">Bạn chắc chắn muốn xóa không?</h3>
						<div class="m-t-20 d-flex justify-content-between">
							<a href="#" class="btn btn-white me-1" data-dismiss="modal">Close</a> <!-- Sử dụng me-1 -->
							<form asp-action="Delete" asp-route-id="@kh.IdThongBao" class="mb-0">
								<button type="submit" class="btn btn-danger">Xóa</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<!--

---->
