@using CNPM.Models;
@model List<TbPhong>

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="mt-5">
                        <h4 class="card-title float-left mt-2">Phòng kí túc</h4>
                        <a href="/Phong/Create" class="btn btn-primary float-right veiwbutton">
                            Add Phòng
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section class="pricing py-5">
                    <div class="container">
                        <div class="row  mt-5">
                            @foreach (var ph in Model)
                            {
                                <div class="col-lg-3">
                                    <div class="card mb-5 mb-lg-0">
                                        <div class="card-body">

                                            <a class="card-title text-muted text-uppercase text-center" href="@Url.Action("ChiTiet", "Phong", new { MaSoPhong = ph.MaSoPhong })" class="text-dark">
                                                PHÒNG @ph.MaSoPhong
                                            </a>
                                           
                                            
                                            <ul class="fa-ul">
                                                <li>
                                                    <span class="fa-li"><i class="fas fa-check"></i></span><td>@(ph.TrangThai == true ? "Phòng đầy" : "Phòng còn trống")</td>
                                                </li>
                                                <li>
                                                    <span class="fa-li"><i class="fas fa-check"></i></span>Số lượng tối đa @ph.SoNguoiMax
                                                </li>
                                                <li>
                                                    <span class="fa-li"><i class="fas fa-check"></i></span>Loại phòng @ph.LoaiPhong
                                                </li>
                                                <li>
                                                    <span class="fa-li"><i class="fas fa-check"></i></span>@ph.DonGia VND
                                                </li>
                                            </ul>
                                            <tr class="text-right">
                                                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@ph.MaSoPhong">
                                                    <i class="fas fa-pencil-alt m-r-5"></i> Sửa
                                                </a>
                                                <a class="btn btn-sm btn-danger text-white" style="background-color: red;" data-toggle="modal" data-target="#deleteModal-@ph.MaSoPhong">
                                                    <i class="fas fa-trash-alt m-r-5"></i> Xóa
                                                </a>
                                            </tr>

                                            
                                            

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>